* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 95vw;
    padding: 0vh 0vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#icon {
    width: 24px;
    height: 24px;
}

#idiomas {
    display: flex;
    padding: 1px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid darkgray;
}

#opcoes {
    padding: 8px 8px;
    background-color: rgba(222, 222, 222, 0.307);
    border-radius: 12px 12px 12px 12px;
    color: #ff914d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-width: min-content;
    height: 100%;
    margin: 2px;
}

#opcoes>a>h1 {
    color: #ff914d;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 125px;
    min-height: 40;
}

#opcoes h1 {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 125px;
    min-height: 40;
}

#opcoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: bold;
    margin: 2px;
    min-width: 70px;
}

#opcoes a:hover {
    box-shadow: 0px 3px 0px 0px darkgray;
    transition: 0.20s ease;
}

#acesso {
    /* background-color: red; */
    padding: 4px;
    border: 1px solid orange;
    border-radius: 16px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aquamarine; */
    height: 100%;
    width: 30%;

}

#acesso img {
    height: 25%;
}

#acesso a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    border-radius: 15px 15px 15px 15px;
    height: 40%;
    min-width: 110px;
}

#acesso img:hover {
    cursor: pointer;
}

#negative-1 {
    background-color: orange;
    color: white;
}

#positive-1 {
    background-color: white;
    color: orange;
}

.apresentacao{
    display: flex;
    padding: 2vh 2vw;
    background-color: #ffffff;
    justify-content:space-around;
    align-items: center;
    background-color: #ffbd591f;   /* ficou uma linha branca entre a imagem das pessoas e a do cartão. Dá pra tirar? */
}
#slogan{
    font-size: 3rem;
    color: #ff914d;
    min-width: 300px;
}

#texto-apresentacao{
    display: flex;
    /* padding-left: 2vw; */
}                            /*queria centralizar melhor os textos e a logo*/
#logo{
    height: 150px;
    width: 150px;
}
.link-para-pagina{
    display: flex;
    background-color:#ff914d ;
    border: solid #ff914d;
    border-radius: 12px;
    justify-content: space-around;
    width: 20%;
    height: 4vh;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    min-width: 190px;
}

.link-para-pagina:hover{
    color:#000000
}

#imagem-pessoas{
    width: 100%;  /* a iamgem criou uma rolagem lateral, não sei consertar*/ 
}
.peca-seu-cartao{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #ffbd591f;    
    padding: 2vh 0vw;
}
/* ficou uma linha branca entre a imagem das pessoas e a do cartão. Dá pra tirar? Se preferirem, é só tirar o background e alterar a cor do "link-pagina-formulario"*/
#imagem-cartao{
width: 40vw;
}

#botao-pedir {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    box-shadow: 2px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: orange;
    border-radius: 20px 20px 20px 20px;
    height: 60px;
    width: 270px;
}

#botao-pedir:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 1, 0.711));
}
.link-pagina-formulario{     /* falta responsividade*/
    display: flex;
    background-color:white ;
    border: solid white;
    border-radius: 12px;
     justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: xx-large; 
    /* width:max-content; */
   height: min-content;
   min-width: 110px;
   margin-top: 20vh;
   margin-left: 10vw;
   padding: 1vw;

}
.link-pagina-formulario:hover{
    /* color: #ff914d; */
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 1, 0.711));
}
.trabalhe-conosco{
    padding: 4vh 0vw;
    height: min-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffbd59;
}
#imagem-trabalhe-conosco{
    width: 30vw;
}
.link-pagina-divida{
    display: flex;
    background-color:white ;
    border: solid white;
    border-radius: 12px;
     justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: xx-large; 
    width:max-content;
    height: min-content;
    min-width: 110px;
    height: 64px;  
}
.link-pagina-divida:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 1, 0.711));
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vw;
    width: 98vw;
    color: white;
    background-color: rgb(44, 44, 44);
}

footer h3,p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p:hover {
    color: orange;
    cursor: pointer;
}

#capitais {
    color: rgb(205, 205, 205);
}

.links {    

}

.apps {
    display: flex;
    flex-direction: column;
}

.apps a {
    font-size: 1.5rem;
    margin: 4px 0vw;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    color: white;
    border: 1px solid white;
}

.apps a:hover {
    color: orange;
    border: 1px solid orange;
}

.icones-redes {
    display: flex;
    justify-content: space-around;
    padding: 2px 2px;
    border-radius: 5px 5px 5px 5px;
    align-items: center;
}

.redes-sociais {

}

.pra-voce {
    border-left: 1px solid white;
    padding: 2px 8px;
}

.precisa-de-ajuda {
    border-left: 1px solid white;
    padding: 2px 8px;
}

.fale-com-a-gente {
    border-left: 1px solid white;
    padding: 2px 8px;
}

#chamada-site {
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 2vh;
    flex-direction: column;
    width: 60%;
}

@media screen and (max-device-width : 500px) {

    header {
            height: min-content;
        }

    #opcoes {
        flex-direction: column;
        width: 50%;
        gap: 2vh;
    }

    #acesso {
        gap: 2vh;
        flex-direction: column;
        width: 50vw;  
        height: 100%;      
    }

    footer {
        flex-direction: column;
        gap: 30px;
    }

    #logo{
        height: 100px;
        width: 100px;
    }

    #slogan{
        font-size: 1.5rem;
        color: #ff914d;
    }

    #texto-apresentacao {
        font-size: .75rem;
    }

    #imagem-cartao {
        width: 100%;
    }

    .peca-seu-cartao{
        flex-direction: column-reverse;
        justify-content: space-around;
        gap: 24px;
    }

    #imagem-trabalhe-conosco {
        width: 100%;
    }

    .trabalhe-conosco{
        flex-direction: column;
        justify-content: space-around;
        gap: 24px;
    }

    .link-pagina-divida{
        font-size: 1rem;
        height: 44px;
        width: 150px;
    }

    #botao-pedir{
        font-size: 1rem;
        height: 44px;
        width: 180px;
    }
}

 /* tablet size */

@media screen and (min-device-width : 501px) and (max-device-width : 1045px) {
    header {
        margin: 0px;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
        height: min-content;        
    }

    #imagem-cartao {
        width: 100%;
    }

    .peca-seu-cartao{
        flex-direction: column-reverse;
        justify-content: space-around;
        gap: 24px;
    }

    #imagem-trabalhe-conosco {
        width: 100%;
    }

    .trabalhe-conosco{
        flex-direction: column;
        justify-content: space-around;
        gap: 24px;
    }

    #logo{
        height: 125px;
        width: 125px;
    }

    #acesso {
        width: min-content;
    }

    #slogan{
        font-size: 2rem;
        color: #ff914d;
    }

    #texto-apresentacao {
        font-size: 1rem;
    }

    #chamada-site {
        width: 50%;
    }

    #icon {
        width: 24px;
        height: 24px;
    }
    #opcoes {
        width: 100%;
    }

    #idiomas {
        display: flex;
    }

    #opcoes a {
        text-align: center;
        font-size: 0.75rem;
        min-width: min-content;
    }

    footer {
        flex-direction: column;
    }
}